.cart {
    padding: 120px 0;
    &__title {
        font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 64px;
        line-height: 70.4px;
        letter-spacing: -1.28px;
        color: #000;
        margin-bottom: 7px;
    }
    &__subtitle {
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 16px;
        line-height: 25.6px;
        color: $grayColor;
    }   
    &__box {
        padding: 144px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &-title {
            @include fontsRoboto400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            margin-bottom: 32px;
            color: $grayColor;
        }
    }
    &__products {       
        padding: 120px 0;
        &-wrapper {
            display: flex;
            align-items: start;
            justify-content: center;
            gap: 48px;
        }
        &-img {
            width: 128px;
            height: 128px;
            & > img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
        }
        &-item {
            max-width: 805px;
            border: 1px solid $grayColor5;
            border-radius: 8px;
            display: flex;
            align-items: start;
            justify-content: start;
            gap: 24px;
            padding: 24px;
            margin-bottom: 20px;
        }
        &-title {
            @include fontsSpace400;
            font-size: 16px;
            line-height: 24px;  
            color: $blackColor2;
            margin-bottom: 8px;
        }
        &-category {
            @include fontsRoboto400;
            font-size: 14px;
            line-height: 20px;
            color: $grayColor;
            margin-bottom: 8px;
        }
        &-price {
            @include fontsRoboto400;
            font-size: 16px;
            line-height: 24px;
            color: $blackColor2;
            margin-bottom: 15px;
        }
        &-count {
            width: 107px;
            border: 1px solid $grayColor5;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 50px;
            padding: 8px;
            &--btn {
                font-size: 20px;
                cursor: pointer;
            }
            &--quantity {
                @include fontsRoboto400;
                font-size: 16px;
                line-height: 24px;
                color: $blackColor2;
            }
        }
        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 603px;
        }
        &-remove  {
            position: relative;
            width: 30px;
            height: 30px;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                width: 15px;
                height: 2px;
                border-radius: 10px;
                background-color: $redColor;
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
                width: 15px;
                height: 2px;
                border-radius: 10px;
                background-color: $redColor;
            }
        }
        &-result {
            width: 100%;
            max-width: 378px;
            min-height: 370px;
            background-color: $beigeColor;
            padding: 24px;
            border-radius: 8px;
            &--title {
                @include fontsSpace400;
                font-size: 16px;
                line-height: 24px;
                color: $blackColor2;
                margin-bottom: 24px;
            }
            &--head, &--delivery {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 12px;
            }
            &--product {
                @include fontsRoboto400;
                font-size: 16px;
                line-height: 24px;
               color: $grayColor;

            }
            &--price {
                @include fontsRoboto400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0px;
                color: $blackColor2;
            }
            &--final {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 16px;
                border-top: 1px solid $grayColor5;
                margin-bottom: 24px;
            }
            &--end {
                @include fontsSpace400;
                font-size: 16px;
                line-height: 24px;
                color: $blackColor2;
            }
            &--summa {
                 @include fontsSpace400;
                font-size: 16px;
                line-height: 24px;
                color: $blackColor2;
            }
        }
        &-primary {
            width: 100%;
            max-width: 330px;
            height: 56px;
            border-radius: 268px;
            background-color: $redColor;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            @include fontsRoboto400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $whiteColor;
            cursor: pointer;
            transition: all .4s ease;
            margin-bottom: 12px;
            &:hover {
                background-color: $redColor2;
            }
        }
        &-secondery {
            width: 330px;
            height: 56px;
            opacity: 1;
            border-radius: 300px;
            border: 2px solid $redColor;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 11px;
            cursor: pointer;
            transition: all .4s ease;
            @include fontsRoboto400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $redColor;
            &:hover {
                box-shadow: 0px 0px 20px $blackColor;
            }
        }
    }
}