.collection {
    padding-bottom: 86px;
    &__title {
        @include fontsSpace400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        color: $blackColor2;
        margin-bottom: 32px;
    }
    &__cards {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 24px;
    }
    &__item {
        width: 100%;
        max-width: 394px;
        min-height: 494px;
        &-img {
            max-width: 394px;
            height: 394px;
            & > picture {
                width: 100%;
                height: 100%;
                display: block;
                & > img {
                    width: 100%;
                    height: 100%;
                }
            }
           
        }
        &-bottom {
            &--price {
                @include fontsRoboto400;
                font-size: 16px;
                line-height: 24px;
                color: $redColor;
            }
        }
    }
}