.conditions {
    padding: 120px 0;
}
.conditions__title {
    font-size: 36px;
    margin-bottom: 10px;
}

.conditions__date {
    font-size: 14px;
    color: #777;
    margin-bottom: 40px;
}

.conditions__block {
    margin-bottom: 30px;
}

.conditions__block h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #111;
}

.conditions__block p {
    font-size: 16px;
    color: #444;
}