.footer {
    background-color: $blackColor2;    
    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 32px;
        padding: 64px 0;
    }
    &__item {
        width: 100%;
        max-width: 220px;
    }
    &__item {
        max-width: 220px;
        width: 100%;
        &-title {
            @include fontsSpace400;
            font-style: Regular;
            font-size: 16px;
            line-height: 24px;
            color: $beigeColor;
            margin-bottom: 25px;
        }
    }
    &__candles {
        &-descr {
            @include fontsRoboto400;
            font-style: Regular;
            font-size: 16px;
            line-height: 26px;  
            color: $whiteColor;
            opacity: .7;
            margin-bottom: 15px;
        }
        &-social {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 16px;
        }
        &-link {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: $grayColor4;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }           
    &__nav {       
        &-list {
            max-width: 220px;
            &--item {
                margin-bottom: 12px;
            }
            &--link {
                @include fontsRoboto400;
                font-style: Regular;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0px;
                color: $whiteColor;
                opacity: .7;
                &:hover {
                    color: $redColor;
                }
            }   
        }
    }
    &__collection {
        &-list {
            &--item {
                margin-bottom: 12px;
            }
            &--link {
                 @include fontsRoboto400;
                font-style: Regular;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0px;
                color: $whiteColor;
                opacity: .7;
                &:hover {
                    color: $redColor;
                }
            }
        }
    }
    &__contacts {
        &-el {
            display: flex;
            align-items: start;
            justify-content: start;
            gap: 12px;
            margin-bottom: 12px;
            &--title {
                @include fontsRoboto400;
                font-size: 16px;
                line-height: 24px;
                color: $whiteColor;
                opacity: .7;
            }
        }
    }
    &__support {
        &-descr {
            @include fontsRoboto400;
            font-size: 16px;
            line-height: 26px;  
            color: $whiteColor;
            opacity: .7;
            margin-bottom: 15px;
            transition: all .4s ease;
            z-index: 30;
            &:hover {
                color: $redColor;
            }
        }
    }
    &__line {
        width: 100%;
        height: 1px;
        background-color: #FFFFFF1A;
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;
        &-el {
            @include  fontsRoboto400;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF80;
        }
        & > a {
            transition: all .4s ease;
            &:hover {
                color: $redColor;
            }
        }
    }
    &__fire {
        background-color: $redColor;
        padding: 10px 0;
        &-title {
            @include  fontsRoboto400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.8px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFFCC;
        }
    }
}