.header {
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #FFFFFFCC;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $whiteColor;
        opacity: .8;
        z-index: -1;
    }
    &__logo {
        width: 97px;
        height: 24px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav {
        &-list {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 32px;
            &--item {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    border-radius: 20px;
                    background-color: $redColor;  
                    transition: all .4s ease
                }
                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }
            &--link {
                @include fontsRoboto400 ;        
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: center;
                color: $blackColor;
            }
        }
    }
}
