.hero {
    width: 100%;
    height: 720px;
    background-image: url('../img/bg-hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding-top: 218px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $whiteColor;
        opacity: .6;
        z-index: -1;
    }
    &__title {
        @include fontsSpace400;
        font-family: Space Grotesk;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        color: $blackColor;
        margin-bottom: 24px;
    }
    &__subtitle {
        @include fontsRoboto400;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;  
        color: $blackColor;
        margin-bottom: 31px;
    }
    &__btn {
        & > img {
            transition: all .4s ease;
        }
        &:hover {
            & > img {
                transform: rotate(20deg);
            }
        }
       
    }
}