.history {
    padding: 96px 0 50px 0;
    &__title {
        margin: 0 auto;
        @include fontsSpace700;
        font-style: Regular;
        font-size: 16px;
        line-height: 24px;
        color: $blackColor2;
        margin-bottom: 32px;
        width: 100%;
        max-width: 768px;
    }
    &__box {
        margin: 0 auto;
        margin-bottom: 32px;
        max-width: 768px;
        width: 100%;
    }
    &__paragraph {
        @include fontsRoboto400;
        font-style: Regular;
        font-size: 16px;
        line-height: 24px;
        color: $grayColor3;
        margin-bottom: 24px;
    }
    &__catalog {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        & > span {
            @include fontsRoboto400;
            font-style: Regular;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            color: $redColor;
            transition: all .4s ease;
            &:hover {
                color: $redColor2
            }
        }
        
    }
}