.hits {
    padding: 120px 0;
    &__title {
        @include fontsSpace700;
        font-size: 48px;
        line-height: 57.6px;
        letter-spacing: -0.48px;
        text-align: center;
        color: $blackColor;
        margin: 0 auto;
        margin-bottom: 16px;
        width: 100%;
        max-width: 336px;
    }
    &__subtitle {
        @include fontsRoboto400;
        font-style: Italic;
        font-size: 16px;
        line-height: 25.6px;
        text-align: center;
        max-width: 273px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 65px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
    &__item {
        position: relative;
        &-heart {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 40px;
            height: 40px;
            background-color: $whiteColor;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        &-img {
            width: 100%;
            max-width: 288px;
            height: 384px;
            border-radius: 8px;
            margin-bottom: 16px;
            & > img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
        }
        &-title {
            @include fontsSpace400;
            font-style: Regular;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.4px;
            color: $blackColor2;
            margin-bottom: 10px;
        }
        &-descr {
            @include fontsRoboto400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            color: $grayColor;
            margin-bottom: 10px;
        }
        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--price {
                @include fontsRoboto400;
                font-size: 16px;
                line-height: 24px;  
                color: $blackColor2
            }
            &--btn {
                width: 100%;
                max-width: 140px;
                height: 40px;
                border-radius: 268px;
                background-color: $redColor;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                @include fontsRoboto400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: $whiteColor;
                cursor: pointer;
                transition: all .4s ease;
                &:hover {
                    background-color: $redColor2;
                }
            }
        }
    }
}