@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

ul {
  list-style: none;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
button:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

input {
  background-color: rgba(0, 0, 0, 0);
}
input:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

textarea {
  background-color: rgba(0, 0, 0, 0);
  resize: none;
}
textarea:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

.header {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
  z-index: -1;
}
.header__logo {
  width: 97px;
  height: 24px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 32px;
}
.header__nav-list--item {
  position: relative;
}
.header__nav-list--item::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 20px;
  background-color: #8B1F1F;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__nav-list--item:hover::before {
  width: 100%;
}
.header__nav-list--link {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #000;
}

.hamburger {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 20;
  display: none;
}
.hamburger > span {
  position: absolute;
  left: 50%;
  width: 70%;
  height: 3px;
  background-color: #8B1F1F;
  border-radius: 10px;
}
.hamburger > span:first-child {
  position: absolute;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hamburger > span:nth-child(2) {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hamburger > span:last-child {
  position: absolute;
  top: 69%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__mobile-menu {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  padding: 60px;
}
.header__mobile-menu > ul {
  margin-bottom: 30px;
}
.header__mobile-menu > ul > li > a {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #000;
}

.hero {
  width: 100%;
  height: 720px;
  background-image: url("../img/dp/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding-top: 218px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.6;
  z-index: -1;
}
.hero__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-family: Space Grotesk;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #000;
  margin-bottom: 24px;
}
.hero__subtitle {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 31px;
}
.hero__btn > img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hero__btn:hover > img {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.intro__head {
  width: 100%;
  padding: 95px 0;
  background-color: #E8DCC4;
}
.intro__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: -0.48px;
  text-align: center;
  color: #1A1A1A;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%;
  max-width: 517px;
}
.intro__subtitle {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6980392157);
  width: 100%;
  max-width: 548px;
  margin: 0 auto;
}
.intro__main {
  background-image: url("../img/dp/intro-bg-dp.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 620px;
  padding-top: 218px;
}
.intro__main-title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 25px;
}
.intro__main-descr {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 31px;
}
.intro__btn > img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.intro__btn:hover > img {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.hits {
  padding: 120px 0;
}
.hits__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: -0.48px;
  text-align: center;
  color: #000;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%;
  max-width: 336px;
}
.hits__subtitle {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Italic;
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  max-width: 273px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 65px;
}
.hits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}
.hits__item {
  position: relative;
}
.hits__item-heart {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.hits__item-img {
  width: 100%;
  max-width: 288px;
  height: 384px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.hits__item-img > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.hits__item-title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #1A1A1A;
  margin-bottom: 10px;
}
.hits__item-descr {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #666666;
  margin-bottom: 10px;
}
.hits__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hits__item-bottom--price {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.hits__item-bottom--btn {
  width: 100%;
  max-width: 140px;
  height: 40px;
  border-radius: 268px;
  background-color: #8B1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hits__item-bottom--btn:hover {
  background-color: #4c0505;
}

.feedback {
  background-color: #E8DCC4;
  padding: 96px 0;
}
.feedback__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #1A1A1A;
  margin: 0 auto;
  margin-bottom: 65px;
  width: 100%;
  max-width: 190px;
}
.feedback__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}
.feedback__item {
  background-color: #fff;
  padding: 32px;
  border-radius: 8px;
  width: 100%;
  max-width: 390px;
  min-height: 172px;
}
.feedback__item-text {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Italic;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #4D4D4D;
  margin-bottom: 15px;
  width: 100%;
  max-width: 325px;
}
.feedback__item-name {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #666666;
}

.history {
  padding: 96px 0 50px 0;
}
.history__title {
  margin: 0 auto;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
  margin-bottom: 32px;
  width: 100%;
  max-width: 768px;
}
.history__box {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 768px;
  width: 100%;
}
.history__paragraph {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 24px;
}
.history__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
.history__catalog > span {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #8B1F1F;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.history__catalog > span:hover {
  color: #4c0505;
}

.footer {
  background-color: #1A1A1A;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 32px;
  padding: 64px 0;
}
.footer__item {
  width: 100%;
  max-width: 220px;
}
.footer__item {
  max-width: 220px;
  width: 100%;
}
.footer__item-title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  color: #E8DCC4;
  margin-bottom: 25px;
}
.footer__candles-descr {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 15px;
}
.footer__candles-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 16px;
}
.footer__candles-link {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(232, 220, 196, 0.1019607843);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__nav-list {
  max-width: 220px;
}
.footer__nav-list--item {
  margin-bottom: 12px;
}
.footer__nav-list--link {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #fff;
  opacity: 0.7;
}
.footer__nav-list--link:hover {
  color: #8B1F1F;
}
.footer__collection-list--item {
  margin-bottom: 12px;
}
.footer__collection-list--link {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #fff;
  opacity: 0.7;
}
.footer__collection-list--link:hover {
  color: #8B1F1F;
}
.footer__contacts-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 12px;
  margin-bottom: 12px;
}
.footer__contacts-el--title {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  opacity: 0.7;
}
.footer__support-descr {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer__support-descr:hover {
  color: #8B1F1F;
}
.footer__line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}
.footer__box-el {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.footer__box > a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer__box > a:hover {
  color: #8B1F1F;
}
.footer__fire {
  background-color: #8B1F1F;
  padding: 10px 0;
}
.footer__fire-title {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.body__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}

.red {
  color: #8B1F1F !important;
}

.btn {
  width: 100%;
  max-width: 268px;
  height: 56px;
  border-radius: 268px;
  background-color: #8B1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn:hover {
  background-color: #4c0505;
}

.white__btn {
  width: 220px;
  height: 56px;
  opacity: 1;
  border-radius: 300px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 11px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000;
}
.white__btn:hover {
  -webkit-box-shadow: 0px 0px 20px #000;
          box-shadow: 0px 0px 20px #000;
}

.menu-active .header__mobile-menu {
  right: 0;
}
.menu-active .hamburger > span:first-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.menu-active .hamburger > span:nth-child(2) {
  opacity: 0;
}
.menu-active .hamburger > span:last-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 450px) {
  .header__nav {
    display: none;
  }
  .header .hamburger {
    display: block;
  }
  .hero {
    background-image: url("../img/mobile/hero-bg-mobile.webp");
  }
  .intro {
    background-image: url("../img/mobile/intro-bg-mobile.webp");
  }
  .hits__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 15px;
  }
}/*# sourceMappingURL=style.css.map */