@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

ul {
  list-style: none;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
button:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

input {
  background-color: rgba(0, 0, 0, 0);
}
input:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

textarea {
  background-color: rgba(0, 0, 0, 0);
  resize: none;
}
textarea:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

.header {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
  z-index: -1;
}
.header__logo {
  width: 97px;
  height: 24px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 32px;
}
.header__nav-list--item {
  position: relative;
}
.header__nav-list--item::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 20px;
  background-color: #8B1F1F;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__nav-list--item:hover::before {
  width: 100%;
}
.header__nav-list--link {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #000;
}

.hamburger {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 20;
  display: none;
}
.hamburger > span {
  position: absolute;
  left: 50%;
  width: 70%;
  height: 3px;
  background-color: #8B1F1F;
  border-radius: 10px;
}
.hamburger > span:first-child {
  position: absolute;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hamburger > span:nth-child(2) {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hamburger > span:last-child {
  position: absolute;
  top: 69%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__mobile-menu {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  padding: 60px;
}
.header__mobile-menu > ul {
  margin-bottom: 30px;
}
.header__mobile-menu > ul > li > a {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #000;
}

.hero {
  width: 100%;
  height: 720px;
  background-image: url("../img/dp/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding-top: 218px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.6;
  z-index: -1;
}
.hero__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-family: Space Grotesk;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #000;
  margin-bottom: 24px;
}
.hero__subtitle {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 31px;
}
.hero__btn > img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hero__btn:hover > img {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.intro__head {
  width: 100%;
  padding: 95px 0;
  background-color: #E8DCC4;
}
.intro__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: -0.48px;
  text-align: center;
  color: #1A1A1A;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%;
  max-width: 517px;
}
.intro__subtitle {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6980392157);
  width: 100%;
  max-width: 548px;
  margin: 0 auto;
}
.intro__main {
  background-image: url("../img/dp/intro-bg-dp.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 620px;
  padding-top: 218px;
}
.intro__main-title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 25px;
}
.intro__main-descr {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 31px;
}
.intro__btn > img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.intro__btn:hover > img {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.hits {
  padding: 120px 0;
}
.hits__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: -0.48px;
  text-align: center;
  color: #000;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%;
  max-width: 336px;
}
.hits__subtitle {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Italic;
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  max-width: 273px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 65px;
}
.hits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}
.hits__item {
  position: relative;
}
.hits__item-heart {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.hits__item-img {
  width: 100%;
  max-width: 288px;
  height: 384px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.hits__item-img > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.hits__item-title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #1A1A1A;
  margin-bottom: 10px;
}
.hits__item-descr {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #666666;
  margin-bottom: 10px;
}
.hits__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hits__item-bottom--price {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.hits__item-bottom--btn {
  width: 100%;
  max-width: 140px;
  height: 40px;
  border-radius: 268px;
  background-color: #8B1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hits__item-bottom--btn:hover {
  background-color: #4c0505;
}

.feedback {
  background-color: #E8DCC4;
  padding: 96px 0;
}
.feedback__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #1A1A1A;
  margin: 0 auto;
  margin-bottom: 65px;
  width: 100%;
  max-width: 190px;
}
.feedback__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}
.feedback__item {
  background-color: #fff;
  padding: 32px;
  border-radius: 8px;
  width: 100%;
  max-width: 390px;
  min-height: 172px;
}
.feedback__item-text {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Italic;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #4D4D4D;
  margin-bottom: 15px;
  width: 100%;
  max-width: 325px;
}
.feedback__item-name {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #666666;
}

.history {
  padding: 96px 0 50px 0;
}
.history__title {
  margin: 0 auto;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
  margin-bottom: 32px;
  width: 100%;
  max-width: 768px;
}
.history__box {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 768px;
  width: 100%;
}
.history__paragraph {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 24px;
}
.history__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
.history__catalog > span {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #8B1F1F;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.history__catalog > span:hover {
  color: #4c0505;
}

.catalog {
  padding: 120px 0;
}
.catalog__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
  margin-bottom: 32px;
}
.catalog__head-page {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.28px;
  text-align: center;
  text-transform: uppercase;
  color: #666666;
}
.catalog__head-page-2 {
  color: #8B1F1F;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
}
.catalog__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 70.4px;
  letter-spacing: -1.28px;
  color: #000;
  margin-bottom: 7px;
}
.catalog__count {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #666666;
}
.catalog__filter {
  width: 256px;
}
.catalog__filter-mobile {
  display: none;
}
.catalog__filter-element {
  max-width: 256px;
  position: relative;
  margin-bottom: 32px;
  cursor: pointer;
}
.catalog__filter-img {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.catalog__filter-title {
  margin-bottom: 15px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #000;
}
.catalog__filter-item {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #000;
  margin-bottom: 8px;
  height: 40px;
  padding: 7px 12px;
  border-radius: 4px;
}
.catalog__filter-list {
  height: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.cards {
  padding: 120px 0;
}
.cards__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: -0.48px;
  text-align: center;
  color: #000;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%;
  max-width: 336px;
}
.cards__subtitle {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Italic;
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  max-width: 273px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 65px;
}
.cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1030px;
}
.cards__item {
  display: block;
  position: relative;
  width: 284px;
  height: 503px;
}
.cards__item-heart {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.cards__item-img {
  width: 100%;
  max-width: 288px;
  height: 384px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.cards__item-img > picture {
  border-radius: 8px;
}
.cards__item-img > picture > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.cards__item-title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #1A1A1A;
  margin-bottom: 10px;
}
.cards__item-descr {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #666666;
  margin-bottom: 10px;
}
.cards__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cards__item-bottom--price {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.cards__item-bottom--btn {
  width: 100%;
  max-width: 140px;
  height: 40px;
  border-radius: 268px;
  background-color: #8B1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.cards__item-bottom--btn:hover {
  background-color: #4c0505;
}

.product {
  padding: 120px 0;
}
.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 48px;
}
.product__img {
  width: 50%;
  max-width: 592px;
  height: auto;
}
.product__img > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.product__information {
  max-width: 592px;
  width: 60%;
}
.product__information-category {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8B1F1F;
  margin-bottom: 16px;
}
.product__information-title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
  margin-bottom: 16px;
}
.product__information-price {
  display: block;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #8B1F1F;
  margin-bottom: 24px;
}
.product__information-smell {
  margin-bottom: 30px;
}
.product__information-smell--title {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #666666;
  margin-bottom: 8px;
}
.product__information-smell--list {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.product__information-color {
  margin-bottom: 32px;
}
.product__information-color--title {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #666666;
  margin-bottom: 8px;
}
.product__information-color--name {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.product__information-count {
  margin-bottom: 32px;
}
.product__information-count--title {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #666666;
  margin-bottom: 8px;
}
.product__information-count--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 16px;
}
.product__information-count--quantity {
  width: 48px;
  height: 24px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1A1A1A;
}
.product__information-count--minus, .product__information-count--plus {
  width: 40px;
  height: 40px;
  border: 1px solid #E8DCC4;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1A1A1A;
}
.product__information-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__information-btn {
  width: 100%;
  max-width: 508px;
  height: 56px;
  border-radius: 268px;
  background-color: #8B1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.product__information-btn:hover {
  background-color: #4c0505;
}
.product__information-favorite {
  width: 70px;
  height: 55px;
  border: 1px solid #E8DCC4;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.collection {
  padding-bottom: 86px;
}
.collection__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #1A1A1A;
  margin-bottom: 32px;
}
.collection__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 24px;
}
.collection__item {
  width: 100%;
  max-width: 394px;
  min-height: 494px;
}
.collection__item-img {
  max-width: 394px;
  height: 394px;
}
.collection__item-img > picture {
  width: 100%;
  height: 100%;
  display: block;
}
.collection__item-img > picture > img {
  width: 100%;
  height: 100%;
}
.collection__item-bottom--price {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8B1F1F;
}

.favorite {
  padding: 120px 0;
}
.favorite__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 70.4px;
  letter-spacing: -1.28px;
  color: #000;
  margin-bottom: 7px;
}
.favorite__subtitle {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #666666;
}
.favorite__box {
  padding: 144px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.favorite__box-title {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 32px;
  color: #666666;
}

.cart {
  padding: 120px 0;
}
.cart__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 70.4px;
  letter-spacing: -1.28px;
  color: #000;
  margin-bottom: 7px;
}
.cart__subtitle {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #666666;
}
.cart__box {
  padding: 144px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cart__box-title {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 32px;
  color: #666666;
}
.cart__products {
  padding: 120px 0;
}
.cart__products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
}
.cart__products-img {
  width: 128px;
  height: 128px;
}
.cart__products-img > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.cart__products-item {
  max-width: 805px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 24px;
  padding: 24px;
}
.cart__products-title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
  margin-bottom: 8px;
}
.cart__products-category {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  margin-bottom: 8px;
}
.cart__products-price {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
  margin-bottom: 15px;
}
.cart__products-count {
  width: 107px;
  border: 1px solid #CCCCCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 50px;
  padding: 8px;
}
.cart__products-count--btn {
  font-size: 20px;
  cursor: pointer;
}
.cart__products-count--quantity {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.cart__products-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 603px;
}
.cart__products-remove {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.cart__products-remove::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 15px;
  height: 2px;
  border-radius: 10px;
  background-color: #8B1F1F;
}
.cart__products-remove::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
  height: 2px;
  border-radius: 10px;
  background-color: #8B1F1F;
}
.cart__products-result {
  width: 100%;
  max-width: 378px;
  min-height: 370px;
  background-color: #E8DCC4;
  padding: 24px;
  border-radius: 8px;
}
.cart__products-result--title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
  margin-bottom: 24px;
}
.cart__products-result--head, .cart__products-result--delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}
.cart__products-result--product {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.cart__products-result--price {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #1A1A1A;
}
.cart__products-result--final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  border-top: 1px solid #CCCCCC;
  margin-bottom: 24px;
}
.cart__products-result--end {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.cart__products-result--summa {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.cart__products-primary {
  width: 100%;
  max-width: 330px;
  height: 56px;
  border-radius: 268px;
  background-color: #8B1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-bottom: 12px;
}
.cart__products-primary:hover {
  background-color: #4c0505;
}
.cart__products-secondery {
  width: 330px;
  height: 56px;
  opacity: 1;
  border-radius: 300px;
  border: 2px solid #8B1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 11px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8B1F1F;
}
.cart__products-secondery:hover {
  -webkit-box-shadow: 0px 0px 20px #000;
          box-shadow: 0px 0px 20px #000;
}

.profile {
  padding: 120px 0;
}
.profile__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
  margin-bottom: 48px;
}
.profile__header {
  background-color: #E8DCC4;
  max-width: 672px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
  min-height: 136px;
  padding: 24px 24px 0 24px;
  border-radius: 8px;
}
.profile__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 16px;
}
.profile__user-img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.profile__user-img > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.profile__user-data--name {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.profile__user-data--mail {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}
.profile__address {
  padding: 25px;
  border: 1px solid #CCCCCC;
  width: 100%;
  max-width: 672px;
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 8px;
}
.profile__address-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 12px;
}
.profile__address-head--img {
  width: 20px;
  height: 20px;
}
.profile__address-head--img > img {
  width: 100%;
  height: 100%;
}
.profile__address-head--title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #1A1A1A;
  margin-bottom: 16px;
}
.profile__address-ready {
  background-color: #E8DCC4;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}
.profile__address-ready--city {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.profile__address-ready--street {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}
.profile__address-add {
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}
.profile__address-add--city {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #666666;
  position: relative;
}
.profile__address-add--city::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 2px;
  background-color: #666666;
}
.profile__address-add--city::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  width: 12px;
  height: 2px;
  background-color: #666666;
}
.profile__favorite {
  max-width: 672px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
.profile__favorite-title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.profile__favorite-img {
  position: absolute;
  top: 50%;
  right: 26px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.profile__history {
  padding: 24px;
  border: 1px solid #CCCCCC;
  max-width: 672px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 8px;
  position: relative;
}
.profile__history-head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 12px;
  margin-bottom: 16px;
}
.profile__history-head--cube {
  width: 20px;
  height: 20px;
}
.profile__history-head--cube > img {
  width: 100%;
  height: 100%;
}
.profile__history-head--title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #1A1A1A;
}
.profile__history-head--img {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.profile__history-order {
  padding: 16px;
  background-color: #E8DCC4;
  border-radius: 8px;
  margin-bottom: 12px;
}
.profile__history-order:last-child {
  margin-bottom: 0;
}
.profile__history-order--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profile__history-order--number {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.profile__history-order--status {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #1A1A1A;
  background-color: #fff;
  padding: 4px 12px;
  border-radius: 50px;
}
.profile__history-order--data, .profile__history-order--name {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}
.profile__history-order--name {
  margin-bottom: 12px;
}
.profile__history-order--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profile__history-order--price {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}
.profile__history-order--btn {
  width: 100%;
  max-width: 182px;
  height: 36px;
  border-radius: 8px;
  background-color: #8B1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.profile__history-order--btn:hover {
  background-color: #4c0505;
}
.profile__exit {
  display: block;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8B1F1F;
  width: 100px;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.profile__exit:hover {
  color: #4c0505;
}

.error {
  padding: 120px 0;
  background-color: #E8DCC4;
  height: 100vh;
}
.error__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1A1A1A;
  margin-bottom: 32px;
}
.error__subtitle {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #666666;
  margin-bottom: 31px;
}
.error__btn {
  display: block;
  margin: 0 auto;
}

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3137254902);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popup__dialog {
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 8px;
  margin: 100px auto;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.popup__content {
  position: relative;
  padding: 24px;
}
.popup__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.18px;
  color: #1A1A1A;
  margin-bottom: 16px;
}
.popup__close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.popup__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #1A1A1A;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.popup__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #1A1A1A;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.popup__form {
  width: 100%;
}
.popup__form-container {
  width: 100%;
  margin-bottom: 16px;
}
.popup__form-label {
  display: block;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #1A1A1A;
  margin-bottom: 8px;
}
.popup__form-input, .popup__form-select, .popup__form-msg {
  width: 100%;
  display: block;
  background-color: #E8DCC4;
  border: none;
  padding: 9px 12px;
  border-radius: 6px;
}
.popup__form-select:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}
.popup__form-msg {
  height: 64px;
}
.popup__form-error {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #8B1F1F;
  padding-left: 5%;
}
.popup__form-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 12px;
}
.popup__form-btn--secondery {
  border: 1px solid #CCCCCC;
  width: 107px;
  height: 41px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px 24px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1A1A1A;
  cursor: pointer;
}
.popup__form-btn--primary {
  width: 100%;
  max-width: 134px;
  height: 41px;
  border-radius: 268px;
  background-color: #8B1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.popup__form-btn--primary:hover {
  background-color: #4c0505;
}

.footer {
  background-color: #1A1A1A;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 32px;
  padding: 64px 0;
}
.footer__item {
  width: 100%;
  max-width: 220px;
}
.footer__item {
  max-width: 220px;
  width: 100%;
}
.footer__item-title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  color: #E8DCC4;
  margin-bottom: 25px;
}
.footer__candles-descr {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 15px;
}
.footer__candles-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 16px;
}
.footer__candles-link {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(232, 220, 196, 0.1019607843);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__nav-list {
  max-width: 220px;
}
.footer__nav-list--item {
  margin-bottom: 12px;
}
.footer__nav-list--link {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #fff;
  opacity: 0.7;
}
.footer__nav-list--link:hover {
  color: #8B1F1F;
}
.footer__collection-list--item {
  margin-bottom: 12px;
}
.footer__collection-list--link {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #fff;
  opacity: 0.7;
}
.footer__collection-list--link:hover {
  color: #8B1F1F;
}
.footer__contacts-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 12px;
  margin-bottom: 12px;
}
.footer__contacts-el--title {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  opacity: 0.7;
}
.footer__support-descr {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 30;
}
.footer__support-descr:hover {
  color: #8B1F1F;
}
.footer__line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}
.footer__box-el {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.footer__box > a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer__box > a:hover {
  color: #8B1F1F;
}
.footer__fire {
  background-color: #8B1F1F;
  padding: 10px 0;
}
.footer__fire-title {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.body__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}

.red {
  color: #8B1F1F !important;
}

.btn {
  width: 100%;
  max-width: 268px;
  height: 56px;
  border-radius: 268px;
  background-color: #8B1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn:hover {
  background-color: #4c0505;
}

.white__btn {
  width: 220px;
  height: 56px;
  opacity: 1;
  border-radius: 300px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 11px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000;
}
.white__btn:hover {
  -webkit-box-shadow: 0px 0px 20px #000;
          box-shadow: 0px 0px 20px #000;
}

.menu-active .header__mobile-menu {
  right: 0;
}
.menu-active .hamburger > span:first-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.menu-active .hamburger > span:nth-child(2) {
  opacity: 0;
}
.menu-active .hamburger > span:last-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.filter-active {
  background-color: #8B1F1F;
  color: #fff;
}

.filter-open .catalog__filter-list {
  height: auto;
  opacity: 1;
}
.filter-open .catalog__filter-img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-filter-open .catalog__filter-mobile--box {
  height: 600px;
  opacity: 1;
  background-color: #fff;
  z-index: 2;
  position: relative;
}

.popup-hide .popup {
  visibility: hidden;
  opacity: 0;
}
.popup-hide .popup__dialog {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.popup-show {
  visibility: visible;
  opacity: 1;
}
.popup-show .popup__dialog {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 450px) {
  .header__nav {
    display: none;
  }
  .header .hamburger {
    display: block;
  }
  .hero {
    background-image: url("../img/mobile/hero-bg-mobile.webp");
  }
  .intro {
    background-image: url("../img/mobile/intro-bg-mobile.webp");
  }
  .hits__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__filter {
    display: none;
  }
  .catalog__filter-mobile {
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 10px;
  }
  .catalog__filter-mobile--title {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1A;
  }
  .catalog__filter-mobile--head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background-color: #E8DCC4;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
    padding: 11px 15px;
    margin-bottom: 30px;
  }
  .catalog__filter-mobile--img {
    position: absolute;
    top: 50%;
    right: 14px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .catalog__filter-mobile--box {
    height: 0;
    opacity: 0;
  }
  .catalog__filter-item {
    font-size: 12px;
  }
  .cards__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cards__item {
    max-width: 169px;
  }
  .cards__item-img {
    width: 169px;
    height: 225px;
  }
  .cards__item-img > picture {
    display: block;
    width: 100%;
    height: 100%;
  }
  .cards__item-img > picture > img {
    width: 100%;
    height: 100%;
  }
  .cards__item-bottom--btn {
    max-width: 48px;
    height: 31px;
  }
  .cards__item-bottom--btn > span {
    display: none;
  }
  .catalog {
    padding: 52px 0;
  }
  .product__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__img {
    width: 100%;
  }
  .product__information {
    width: 100%;
  }
  .product__information-btn {
    max-width: 268px;
  }
  .collection__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .collection__item {
    min-height: 300px;
  }
  .cart__products-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart__products-box {
    width: 80%;
    margin: 0 auto;
  }
  .cart__products-item {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 354px;
  }
  .cart__products-info {
    width: 100%;
  }
  .cart__products-bottom {
    width: 100%;
  }
  .cart__products-rsult {
    max-width: 354px;
  }
  .cart__products-primary, .cart__products-secondery {
    max-width: 306px;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 15px;
  }
}/*# sourceMappingURL=style.css.map */