$blackColor: #000;
$blackColor2: #1A1A1A;
$blackColor3: #000000B2;
$redColor: #8B1F1F;
$redColor2: #4c0505;
$whiteColor: #fff;
$beigeColor: #E8DCC4;
$grayColor: #666666;
$grayColor2: #4D4D4D;
$grayColor3: #333333;
$grayColor4: #E8DCC41A;