.body__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container {
    max-width: 1280px;
    padding: 0 24px;
    margin: 0 auto;
}
.red {
    color: $redColor !important;
}
.btn {
    width: 100%;
    max-width: 268px;
    height: 56px;
    border-radius: 268px;
    background-color: $redColor;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    @include fontsRoboto400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $whiteColor;
    cursor: pointer;
    transition: all .4s ease;
    &:hover {
        background-color: $redColor2;
    }
    &:active {
        background-color: $beigeColor;
    }
}
.white__btn {
    width: 220px;
    height: 56px;
    opacity: 1;
    border-radius: 300px;
    background-color: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    cursor: pointer;
    transition: all .4s ease;
    @include fontsRoboto400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $blackColor;
    &:hover {
        box-shadow: 0px 0px 20px $blackColor;
    }
}
.menu-active {
    .header__mobile-menu {
        right: 0;
    }
    .hamburger {
        & > span {
            &:first-child {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}

.filter-active {
    background-color: $redColor;
    color: $whiteColor;    
}
.filter-open {
    .catalog__filter-list {
        height: auto;
        opacity: 1;
    }
    .catalog__filter-img {
        transform: rotate(90deg);
    }
}
.mobile-filter-open {
    .catalog__filter-mobile--box {
        height: 600px;
        opacity: 1;
        background-color: $whiteColor;
        z-index: 40;
        position: relative;
        height: 200vh;
    }
}
.popup-hide {
    .popup {
        visibility: hidden;
        opacity: 0;
        &__dialog {
            transform: scale(0);
        }
    }
}
.popup-show {
    visibility: visible;
    opacity: 1;
    .popup {
        &__dialog {
            transform: scale(1);
        }
    }
}
.fail {
    padding: 120px 0;
    height: 100vh;
    & > h1 {
        font-size: 30px;
    }
}

/* Скрываем ошибки по умолчанию */
.popup__form-error {
    display: none;
    color: #e74c3c;
    font-size: 14px;
    margin-top: 4px;
    transition: all 0.3s ease;
}

/* Красная рамка для полей с ошибкой */
.error-field {
    border: 2px solid #e74c3c;
    border-radius: 4px;
    transition: border 0.3s ease;
}

/* Плавное появление ошибки */
.popup__form-error.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease;
}