@media (max-width: 450px) {
    .header {
        &__nav {
            display: none;
        }
        .hamburger {
            display: block;
        }
    }
    .hero {
        background-image: url('../img/mobile/hero-bg-mobile.webp');
    }
    .intro {
        background-image: url('../img/mobile/intro-bg-mobile.webp');
    }
    .hits {
        &__wrapper {
            flex-direction: column;
        }
    }
    .feedback {
        &__wrapper {
            flex-direction: column;
        }
    }
    .footer {
        &__wrapper {
            flex-direction: column;
        }
        &__box {
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 15px;
        }
    }
}