html, body {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include fontsRoboto400;
}
ul {
    list-style: none;
}
button {
    background-color: #00000000;
    border: none;
    &:focus {
        outline: 1px solid #00000000;
    }
}
input {
    background-color: #00000000;
    &:focus {
        outline: 1px solid #00000000;
    }
}
textarea {
    background-color: #00000000;
    resize: none;
    &:focus {
        outline: 1px solid #00000000;
    }
}
a {
    text-decoration: none;
}
