@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'normalize';
@import '../block/header';
@import '../block/hero';
@import '../block/intro';
@import '../block/hits';
@import '../block/feedback';
@import 'global';